body{
    font-family: "Montserrat", sans-serif;
    background-color: #eee;
    text-align: center;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.cabecera{
    color: blue;
    background-color: #ccc;
    font-weight: bold;
    padding: 1em;
    margin: 0 auto;
    width: 75%;
}

.tarjetas{
    background-color: orange;
    padding: 1em;
    margin: 1em auto;
    width: 75%;
    display: flex;
}

.tarjeta{
    background-color: white;
    border: 3px solid #333;
    padding: 1em;
    margin: 1em;
    width: 50%;
}